body {
    background-color: #ffbb61;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 80px;
    color: #e4842a;
    
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
    color: #e4842a;
    position: absolute;
    top: 140px;
    left: 130px;
}

.toDoList {
    width: 460px;
    height: 460px;
    position: absolute;
    margin: 5%;
    top: 5%;
    left: 20%;
    margin-right:-50%;
    transform: translate(-20%,-17%); 
}

.taskbox {
    position: absolute;
    margin-left: 10%;
    top: 230px;
    left: -70px;
}

#addTaskButton {
    color: #e4842a;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 420px;
    opacity: 30%;
    transition: transform .2s;
}

#addTaskButton:hover {
    opacity: 70%;
    transform: scale(1.5);
}

#textfield {
    color: #ffd8a6;
    left: 20px;
    font-size: 16px;
    border: 0px;
    width: 400px;
    height: 40px;
}

input {
    background-color: #e4842a; ;
    border-radius: 10px;
    border: 40px;
    border-color: #ffbb61;
}

#newDivBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffd8a6;
    background-color: #e4842a; 
    border-radius: 10px;
    width: 404px;
    height: 40px;
}

.fa-times {
    position:absolute;
    right: 10px;
    margin-top: 10px;
    

}

#checkbox {
    position: absolute;
    margin-top: -2.5px;
    left: 5px;
    width: 20px;
    height: 45px;
}

/*
[placeholder] {
    opacity: 100%;
}
*/