body {
    background-color: #ffbb61;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #cc6a0e;
    
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
    color: #e4842a;
    position: absolute;
    top: 140px;
    left: 130px;
}

/* Div-Box, in der alles drinsteckt*/
.toDoList {
    width: 460px;
    height: 460px;
    position: absolute;
    margin: 5%;
    top: 5%;
    left: 20%;
    margin-right:-50%;
    transform: translate(-20%,-17%); 
}

/* Div, indem sich die neuen Taskboxen befinden */
.taskbox {
    position: absolute;
    margin-left: 10%;
    top: 230px;
    left: -60px;
}

/* Plus-Button */
#addTaskButton {
    color: #e4842a;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 420px;
    opacity: 30%;
    transition: transform .2s;
}

/* Plus- Button: Hover*/
#addTaskButton:hover {
    opacity: 70%;
    transform: scale(1.5);
}

/* Input- Text */
#textfield {
    padding-left: 10px;
    color: #ad5b0e;
    left: 20px;
    font-size: 20px;
    border: 0px;
    width: 400px;
    height: 40px;
}

/* Input-Kasten */
input {
    background-color: #eb974a; 
    border-radius: 10px;
}
/* neue Taskbox */
#newDivBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: center;
    margin-top: 7px;
    color: #ad5b0e;
    background-color: #eb974a;  
    border-radius: 10px;
    width: 404px;
    height: 40px;
}

/* Text in neuen Taskboxen */
#text {
    position: absolute;
    font-size: 20px;
    margin-top: 7.5px;
    margin-left: 35px;
    margin-bottom: 30px;
    
}

/* Delete-Button */
.fa-trash {
    font-size: 20px;
    position: absolute;
    right: 13px;
    margin-top: 10px;
    opacity: 50%;
}

/*
.fa-trash:hover {
    opacity: 80%;
}
*/

/* Kein Haken: Task noch nicht erledigt */
.fa-circle {
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    left: 9px;
    width: 20px;
    height: 45px; 
    opacity : 50%;
}

/* Haken: Task erledigt */
.fa-check-circle {
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    left: 9px;
    width: 20px;
    height: 45px;
    opacity: 120%;
}

/*
[placeholder] {
    opacity: 100%;
}
*/